{% extends "bases.html" %}
{% block titre %}Acceuil{% endblock %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h2>{% if todo.id %}Modifier une Todo{% else %}Ajouter une Todo{% endif %}</h2>
    
    <form method="post" enctype="multipart/form-data" class="grid grid-cols-1 gap-4">
        {% csrf_token %}
        <div class="col-span-1">
            <input type="text" name="nom" id="nom" value="{% if todo.id %}{{ todo.nom }}{% endif %}" class="shadow-sm bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Nom" required>
        </div>
        <div class="col-span-1">
            {% if todo.image.url %}
                <img src="{{ todo.image.url }}" alt="Image actuelle" class="w-20 h-20 mb-2">
            {% endif %}
            <input type="file" accept=".jpg, .png, .jpeg" name="image" id="image" class="shadow-sm bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Nouvelle image">
        </div>
        <div class="col-span-1 flex justify-end">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
                {% if todo.id %}Modifier{% else %}Ajouter{% endif %}
            </button>
        </div>
    </form>
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
    {% for todo in page_obj %}
    <div class="divide-y divide-gray-200 shadow-md w-[450px] toggle-todo" data-todo-id="{{ todo.id }}">
        <div class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-4">{{ forloop.counter }}.</span>
            <img class="w-12 h-12 rounded-full object-cover mr-4" src="{{ todo.image.url }}" alt="User avatar">
            <div class="flex-1">
                <h1 class="text-lg font-medium text-gray-800">{{ todo.nom }}</h1>
            </div>
            <div>
                {% if todo.statut %}
                <svg class="w-6 h-6 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                {% else %}
                <svg class="w-6 h-6 text-red-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                {% endif %}
            </div>
            <div class="group relative px-10">
                <button type="button" class="inline-flex justify-center items-center h-8 px-3 text-md font-bold text-blue-400 border border-blue-400 rounded-full hover:bg-blue-100 focus:outline-none focus:bg-blue-100">
                    Action
                    <svg class="w-4 h-4 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 12l-5-5h10l-5 5z" />
                    </svg>
                </button>
                <div class="absolute right-0 w-40 mt-1 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 z-50">
                    <div class="py-1 -mt-4">
                        <a href="{% url 'update_todo' todo.id %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Modifier</a>
                        <a onclick="return confirm('Est-vous sur de continuer ?')" href="{% url 'delete_todo' todo.id %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Supprimer</a>
                        <form method="post" action="{% url 'toggle_todo' %}">
                            {% csrf_token %}
                            <input class="hidden" name="id_todo" value="{{todo.id}}"/>
                            <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                {% if todo.statut %}
                                    Désactiver
                                {% else %}
                                    Activer
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="flex justify-center mt-8">
    <div class="flex">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="px-3 py-2 border border-gray-300 text-gray-500 rounded-l-md hover:bg-gray-100">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 border border-gray-300 text-gray-500 hover:bg-gray-100">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="px-3 py-2 border border-gray-300 text-gray-900 bg-gray-300">{{ num }}</span>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="px-3 py-2 border border-gray-300 text-gray-500 hover:bg-gray-100">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 border border-gray-300 text-gray-500 hover:bg-gray-100">Précedent</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="px-3 py-2 border border-gray-300 text-gray-500 rounded-r-md hover:bg-gray-100">Suivant</a>
        {% endif %}
    </div>
</div>

{% endblock %}
